.react-split-mde-preview {
	line-height: 1.9
}

.react-split-mde-preview>*:first-child {
	margin-top: 0
}

.react-split-mde-preview i,
.react-split-mde-preview cite,
.react-split-mde-preview em {
	font-style: italic
}

.react-split-mde-preview strong {
	font-weight: 600
}

.react-split-mde-preview a {
	color: #0f83fd
}

.react-split-mde-preview a:hover {
	text-decoration: underline
}

.react-split-mde-preview p+p {
	margin-top: 1.5em
}

.react-split-mde-preview ul,
.react-split-mde-preview ol {
	margin: 1.4rem 0;
	line-height: 1.7
}

.react-split-mde-preview ul>li,
.react-split-mde-preview ol>li {
	margin: 0.6rem 0
}

.react-split-mde-preview ul ul,
.react-split-mde-preview ul ol,
.react-split-mde-preview ol ul,
.react-split-mde-preview ol ol {
	margin: 0.2em 0
}

.react-split-mde-preview ul p,
.react-split-mde-preview ol p {
	margin: 0
}

.react-split-mde-preview ul {
	padding-left: 0
}

.react-split-mde-preview ul>li {
	list-style: none;
	list-style-position: inside;
	position: relative;
	padding-left: 1.6em
}

.react-split-mde-preview ul>li:before {
	content: "";
	position: absolute;
	top: 0.7em;
	left: 0.35em;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: rgba(24, 30, 50, 0.7)
}

.react-split-mde-preview .contains-task-list li:before {
	content: none !important
}

.react-split-mde-preview .task-list-item-checkbox {
	margin-left: -1.5em;
	font-size: 1em;
	pointer-events: none
}

.react-split-mde-preview ol {
	margin-left: 0;
	counter-reset: number
}

.react-split-mde-preview ol>li {
	list-style: none;
	position: relative;
	line-height: 24px;
	padding-left: 32px;
	margin: 1em 0
}

.react-split-mde-preview ol>li:before {
	display: inline-block;
	position: absolute;
	left: 0;
	top: 1px;
	width: 22px;
	height: 22px;
	line-height: 22px;
	border-radius: 50%;
	color: #fff;
	font-size: 11.5px;
	text-align: center;
	content: counter(number);
	counter-increment: number;
	background: rgba(2, 13, 60, 0.6);
	font-weight: 600
}

.react-split-mde-preview h1+p,
.react-split-mde-preview h2+p,
.react-split-mde-preview h3+p,
.react-split-mde-preview h4+p,
.react-split-mde-preview h5+p,
.react-split-mde-preview h6+p {
	margin-top: 0.3em
}

.react-split-mde-preview h1,
.react-split-mde-preview h2 {
	margin-top: 2.3em;
	margin-bottom: 0.5em
}

.react-split-mde-preview h3,
.react-split-mde-preview h4,
.react-split-mde-preview h5,
.react-split-mde-preview h6 {
	margin-top: 2.25em;
	margin-bottom: 0.5em
}

.react-split-mde-preview h1 {
	padding-bottom: 0.2em;
	margin-bottom: 1.1rem;
	font-size: 1.7em;
	position: relative;
	border-bottom: solid 1px rgba(92, 147, 187, 0.17)
}

.react-split-mde-preview h2 {
	font-size: 1.5em
}

.react-split-mde-preview h3 {
	font-size: 1.3em
}

.react-split-mde-preview h4 {
	font-size: 1.1em
}

.react-split-mde-preview h5 {
	font-size: 1em
}

.react-split-mde-preview h5,
.react-split-mde-preview h6 {
	color: #93a5b1
}

.react-split-mde-preview h6 {
	font-size: 0.85em
}

@media screen and (max-width: 576px) {
	.react-split-mde-preview h1 {
		font-size: 1.6em
	}
	.react-split-mde-preview h2 {
		font-size: 1.4em
	}
	.react-split-mde-preview h3 {
		font-size: 1.2em
	}
	.react-split-mde-preview h4 {
		font-size: 1.1em
	}
	.react-split-mde-preview h5 {
		font-size: 1em
	}
	.react-split-mde-preview h6 {
		font-size: 0.85em
	}
}

.react-split-mde-preview hr {
	border-top: 2px solid rgba(92, 147, 187, 0.17);
	margin: 2.5rem 0
}

.react-split-mde-preview blockquote {
	font-size: 0.95rem;
	margin: 1.4rem 0;
	border-left: solid 3px #b3bfc7;
	padding: 2px 0 2px 0.7em;
	color: #626e77
}

.react-split-mde-preview blockquote p {
	margin: 1rem 0
}

.react-split-mde-preview blockquote>:first-child {
	margin-top: 0
}

.react-split-mde-preview blockquote>:last-child {
	margin-bottom: 0
}

.react-split-mde-preview blockquote.twitter-tweet {
	display: none
}

.react-split-mde-preview table {
	margin: 1.2rem auto;
	width: auto;
	border-collapse: collapse;
	font-size: 0.95em;
	line-height: 1.5;
	word-break: normal;
	display: block;
	overflow: auto;
	-webkit-overflow-scrolling: touch
}

.react-split-mde-preview th,
.react-split-mde-preview td {
	padding: 0.5rem;
	border: solid 1px #cfdce6
}

.react-split-mde-preview th {
	font-weight: 600;
	background: #edf2f7
}

.react-split-mde-preview code {
	padding: 0.2em 0.4em;
	background: rgba(33, 90, 160, 0.07);
	font-size: 0.85em;
	border-radius: 4px;
	vertical-align: 0.08em;
	font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

.react-split-mde-preview pre {
	margin: 1.3rem 0;
	background: #2c2d3a;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	border-radius: 3px;
	word-break: normal;
	word-wrap: normal;
	display: flex
}

.react-split-mde-preview pre:after {
	content: "";
	width: 8px;
	flex-shrink: 0
}

.react-split-mde-preview pre code {
	margin: 0;
	padding: 0;
	background: transparent;
	font-size: 0.9em;
	color: #fff
}

.react-split-mde-preview pre>code {
	display: block;
	padding: 1.1rem
}

@media screen and (max-width: 576px) {
	.react-split-mde-preview pre>code {
		padding: 1rem 0.8rem;
		font-size: 13px
	}
}

.react-split-mde-preview .code-block-container {
	position: relative;
	margin: 1.3rem 0;
	background: #2c2d3a;
	border-radius: 3px
}

.react-split-mde-preview .code-block-container pre {
	background: transparent;
	margin: 0
}

.react-split-mde-preview .code-block-filename-container {
	margin-bottom: -12px
}

.react-split-mde-preview .code-block-filename {
	display: inline-block;
	vertical-align: top;
	max-width: 100%;
	background: rgba(177, 197, 247, 0.25);
	color: #fff;
	font-size: 12px;
	height: 24px;
	line-height: 24px;
	padding: 0px 6px 0 8px;
	font-family: monospace;
	border-radius: 4px 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.react-split-mde-preview img:not(.emoji) {
	margin: 1.5rem auto;
	display: table;
	max-width: 100%;
	height: auto
}

.react-split-mde-preview img+br {
	display: none
}

.react-split-mde-preview img~em {
	display: block;
	margin: -1rem auto 0;
	line-height: 1.3;
	text-align: center;
	color: #93a5b1;
	font-size: 0.95rem
}

.react-split-mde-preview details {
	font-size: 0.95em;
	margin: 1rem 0;
	line-height: 1.7
}

.react-split-mde-preview summary {
	cursor: pointer;
	outline: 0;
	padding: 0.7em 0.7em 0.7em 0.9em;
	background: #f1f5f9;
	border-radius: 5px
}

.react-split-mde-preview summary::-webkit-details-marker {
	color: #93a5b1
}

.react-split-mde-preview details[open] summary {
	border-radius: 5px 5px 0 0
}

.react-split-mde-preview .details-content {
	padding: 0.5em 0.9em;
	border: solid 2px #f1f5f9;
	border-radius: 0 0 5px 5px
}

.react-split-mde-preview .details-content>* {
	margin: 0.5em 0
}

.react-split-mde-preview .embed-tweet,
.react-split-mde-preview .embed-gist,
.react-split-mde-preview .embed-speakerdeck,
.react-split-mde-preview .embed-slideshare,
.react-split-mde-preview .embed-codepen,
.react-split-mde-preview .embed-jsfiddle,
.react-split-mde-preview .embed-youtube,
.react-split-mde-preview .embed-codesandbox,
.react-split-mde-preview .embed-stackblitz {
	margin: 1.5rem 0
}

.react-split-mde-preview .embed-slideshare,
.react-split-mde-preview .embed-speakerdeck,
.react-split-mde-preview .embed-codepen,
.react-split-mde-preview .embed-jsfiddle,
.react-split-mde-preview .embed-youtube,
.react-split-mde-preview .embed-stackblitz {
	padding-bottom: calc(56.25% + 38px);
	position: relative;
	width: 100%;
	height: 0
}

.react-split-mde-preview .embed-slideshare iframe,
.react-split-mde-preview .embed-speakerdeck iframe,
.react-split-mde-preview .embed-codepen iframe,
.react-split-mde-preview .embed-jsfiddle iframe,
.react-split-mde-preview .embed-youtube iframe,
.react-split-mde-preview .embed-stackblitz iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none
}

.react-split-mde-preview .embed-slideshare iframe {
	border: 1px solid #2c2d3a
}

.react-split-mde-preview .embed-zenn-link {
	margin: 1rem auto
}

.react-split-mde-preview .embed-zenn-link iframe {
	height: 125px;
	width: 100%;
	display: block
}

.react-split-mde-preview eqn {
	display: block;
	overflow-x: auto
}

.react-split-mde-preview pre[class*="language-"] {
	position: relative
}

.react-split-mde-preview .token.namespace {
	opacity: 0.7
}

.react-split-mde-preview .token.comment,
.react-split-mde-preview .token.prolog,
.react-split-mde-preview .token.doctype,
.react-split-mde-preview .token.cdata {
	color: #92a3ad
}

.react-split-mde-preview .token.operator,
.react-split-mde-preview .token.boolean,
.react-split-mde-preview .token.number {
	color: #ffc164
}

.react-split-mde-preview .token.attr-name,
.react-split-mde-preview .token.string {
	color: #ffc164
}

.react-split-mde-preview .token.entity,
.react-split-mde-preview .token.url,
.react-split-mde-preview .language-css .token.string,
.react-split-mde-preview .style .token.string {
	color: #ffc164
}

.react-split-mde-preview .token.selector {
	color: #ff8e8e
}

.react-split-mde-preview .token.atrule,
.react-split-mde-preview .token.attr-value,
.react-split-mde-preview .token.keyword,
.react-split-mde-preview .token.important,
.react-split-mde-preview .token.deleted {
	color: #ff8e8e
}

.react-split-mde-preview .token.inserted {
	color: #b4ff9b
}

.react-split-mde-preview .token.regex,
.react-split-mde-preview .token.statement {
	color: #ffc164
}

.react-split-mde-preview .token.placeholder,
.react-split-mde-preview .token.variable {
	color: #fff
}

.react-split-mde-preview .token.important,
.react-split-mde-preview .token.statement,
.react-split-mde-preview .token.bold {
	font-weight: 600
}

.react-split-mde-preview .token.punctuation {
	color: #859aff
}

.react-split-mde-preview .token.entity {
	cursor: help
}

.react-split-mde-preview .token.italic {
	font-style: italic
}

.react-split-mde-preview .token.tag,
.react-split-mde-preview .token.property,
.react-split-mde-preview .token.function {
	color: #56cdff
}

.react-split-mde-preview .token.attr-name {
	color: #ff8e8e
}

.react-split-mde-preview .token.attr-value {
	color: #ffc164
}

.react-split-mde-preview .token.style,
.react-split-mde-preview .token.script {
	color: #ffc164
}

.react-split-mde-preview .token.script .token.keyword {
	color: #ffc164
}

.react-split-mde-preview .msg {
	position: relative;
	margin: 1.5rem 0;
	padding: 21px 15px 21px 45px;
	border-radius: 6px;
	background: #fff6e4;
	color: rgba(0, 0, 0, 0.65);
	font-size: 14.5px;
	line-height: 1.6
}

.react-split-mde-preview .msg:before {
	position: absolute;
	left: 15px;
	top: 50%;
	transform: translateY(-52%);
	content: "!";
	display: block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 13px;
	text-align: center;
	color: #fff;
	background: #ffb84c;
	font-weight: 600;
	border-radius: 50%
}

.react-split-mde-preview .msg>* {
	margin: 0.5rem 0
}

.react-split-mde-preview .msg>*:first-child,
.react-split-mde-preview .msg>*:last-child {
	margin: 0
}

.react-split-mde-preview .msg a {
	color: inherit;
	text-decoration: underline
}

.react-split-mde-preview .msg.alert {
	background: #ffeff2
}

.react-split-mde-preview .msg.alert:before {
	background: #ff7670
}

.react-split-mde-preview .footnotes {
	margin-top: 3rem;
	color: #77838c;
	font-size: 0.9em
}

.react-split-mde-preview .footnotes-title {
	padding-bottom: 3px;
	border-bottom: solid 1px #cfdce6;
	font-weight: 600;
	font-size: 15px
}

.react-split-mde-preview .footnotes-list {
	margin: 0
}

.react-split-mde-preview .footnotes-twemoji {
	border: none;
	margin: 0 7px 0 0;
	vertical-align: -3px
}